<div class="message-container">
  <div class="message-message">
    <div class="message-navbar">
      <span class="message-text"><span>Sermon Bank</span></span>
      <div class="message-frame1">
        <span class="message-text02"><span>Message</span></span>
        <span class="message-text04"><span>Category</span></span>
        <span class="message-text06"><span>Ministry</span></span>
        <span class="message-text08"><span>Levels</span></span>
        <span class="message-text10"><span>Banner</span></span>
      </div>
    </div>
  </div>
</div>
