<div class="navbar-navbar" [ngClass]="rootClassName">
  <span class="navbar-text"><span>Sermon Bank</span></span>
  <div class="navbar-frame1">
    <a routerLink="/message" class="navbar-text02"><span>Message</span></a>
    <a routerLink="/category" class="navbar-text04"><span>Category</span></a>
    <a routerLink="/ministers" class="navbar-text06">
      <span>Ministers</span>
      <br />
    </a>
    <a routerLink="/levels" class="navbar-text09"><span>Levels</span></a>
    <a routerLink="/banner" class="navbar-text11"><span>Banner</span></a>
  </div>
</div>
