<div class="levels-container">
  <div class="levels-levels">
    <div class="levels-navbar">
      <span class="levels-text"><span>Sermon Bank</span></span>
      <div class="levels-frame1">
        <span class="levels-text02"><span>Message</span></span>
        <span class="levels-text04"><span>Category</span></span>
        <span class="levels-text06"><span>Ministry</span></span>
        <span class="levels-text08"><span>Levels</span></span>
        <span class="levels-text10"><span>Banner</span></span>
      </div>
    </div>
  </div>
</div>
