:host { 
  display: contents; 
}
.header-container {
  display: flex;
  position: relative;
  justify-content: center;
}
.header-text {
  position: relative;
}
.header-root-class-name {
  top: 43px;
  left: 533px;
  position: absolute;
}
.header-root-class-name1 {
  top: 94px;
  left: 714px;
  position: absolute;
}
.header-root-class-name2 {
  top: 64px;
  left: 589px;
  position: absolute;
}
.header-root-class-name3 {
  top: 75px;
  left: 563px;
  position: absolute;
}
.header-root-class-name4 {
  top: 61px;
  left: 635px;
  position: absolute;
}
@media(max-width: 991px) {
  .header-text {
    align-self: center;
  }
  .header-root-class-name1 {
    top: 91px;
    left: 624px;
  }
  .header-root-class-name4 {
    top: 72px;
    left: 547px;
  }
}
