<div class="banner-container">
  <div class="banner-banner">
    <app-navbar rootClassName="navbar-root-class-name5"></app-navbar>
    <app-header
      heading="New Banner"
      rootClassName="header-root-class-name3"
    ></app-header>
    <span class="banner-text">Enter Url</span>
    <span class="banner-text1">Select Image</span>
    <button
      id="submit"
      name="submit"
      type="submit"
      class="banner-button button"
    >
      <span>
        <span>Submit</span>
        <br />
      </span>
    </button>
  </div>
  <input
    type="text"
    id="url"
    name="url"
    required
    placeholder="Banner image"
    class="banner-textinput input"
  />
  <input
    type="file"
    id="image"
    name="image"
    accept="image/*"
    required
    placeholder="Banner image"
    class="banner-textinput1 input"
  />
</div>
