<div class="category-container">
  <div class="category-category">
    <div class="category-navbar">
      <span class="category-text"><span>Sermon Bank</span></span>
      <div class="category-frame1">
        <span class="category-text02"><span>Message</span></span>
        <span class="category-text04"><span>Category</span></span>
        <span class="category-text06"><span>Ministry</span></span>
        <span class="category-text08"><span>Levels</span></span>
        <span class="category-text10"><span>Banner</span></span>
      </div>
    </div>
  </div>
</div>
