<div class="category-container">
  <app-header
    heading="Add Category"
    rootClassName="header-root-class-name2 mt-4"
  ></app-header>
  <div class="grid grid-cols-10">
    <app-form
      class="form col-span-8"
      [formAttributes]="formAttributes"
      (submitted)="submit($event)"
    >
    </app-form>
    <div class="col-span-2">
      <p class="text-black font-bold text-center text-lg">List of Category</p>
      <div
        *ngFor="let cat of category"
        class="flex gap-2 items-center mb-4 w-full"
      >
        <div class="flex gap-2 items-center">
          <p>{{ cat.name }}</p>
          <img
            [src]="cat.icon"
            alt="category icon image"
            class="w-[50px] h-[50px]"
          />
        </div>

        <button
          (click)="onDelete(cat)"
          class="bg-red-500 w-12 h-8 text-center text-white rounded"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
