<div class="ministry-container">
  <div class="ministry-ministry">
    <div class="ministry-navbar">
      <span class="ministry-text"><span>Sermon Bank</span></span>
      <div class="ministry-frame1">
        <span class="ministry-text02"><span>Message</span></span>
        <span class="ministry-text04"><span>Category</span></span>
        <span class="ministry-text06"><span>Ministry</span></span>
        <span class="ministry-text08"><span>Levels</span></span>
        <span class="ministry-text10"><span>Banner</span></span>
      </div>
    </div>
  </div>
</div>
