<div class="home-container">
  <div class="home-home">
    <a transitionTo="/category" class="home-navlink">
      <div class="home-frame2">
        <img
          alt="Plus25"
          src="/assets/playground_assets/plus25-mrva-200h.png"
          class="home-plus"
        />
        <span class="home-text"><span>Add Category</span></span>
      </div>
    </a>
    <a transitionTo="/levels" class="home-navlink1">
      <div class="home-frame4">
        <img
          alt="Plus225"
          src="/assets/playground_assets/plus225-u1rc-200h.png"
          class="home-plus1"
        />
        <span class="home-text02"><span>Add Levels</span></span>
      </div>
    </a>
    <a transitionTo="/banner" class="home-navlink2">
      <div class="home-frame5">
        <img
          alt="Plus228"
          src="/assets/playground_assets/plus228-lqsa-200h.png"
          class="home-plus2"
        />
        <span class="home-text04"><span>Add Banner</span></span>
      </div>
    </a>
    <a transitionTo="/message" class="home-navlink3">
      <div class="home-frame1">
        <img
          alt="iTunes111"
          src="/assets/playground_assets/itunes111-v98-200h.png"
          class="home-i-tunes"
        />
        <span class="home-text06"><span>Add New Message</span></span>
      </div>
    </a>
    <a transitionTo="/ministers" class="home-navlink4">
      <div class="home-frame3">
        <img
          alt="Plus219"
          src="/assets/playground_assets/plus219-t49m-200h.png"
          class="home-plus3"
        />
        <span class="home-text08"><span>Add Ministers</span></span>
      </div>
    </a>
    <app-header
      heading="Home"
      rootClassName="header-root-class-name1"
    ></app-header>
    <app-navbar rootClassName="navbar-root-class-name3"></app-navbar>
  </div>
</div>
