<div class="i-phone141-container">
  <div class="i-phone141-i-phone141">
    <img
      alt="Plus14"
      src="/assets/playground_assets/plus14-lno7-200h.png"
      class="i-phone141-plus"
    />
    <img
      alt="DownloadfromtheCloud15"
      src="/assets/playground_assets/downloadfromthecloud15-51p-200h.png"
      class="i-phone141-downloadfromthe-cloud"
    />
    <img
      alt="Edit16"
      src="/assets/playground_assets/edit16-x1j2-200w.png"
      class="i-phone141-edit"
    />
    <img
      alt="Close17"
      src="/assets/playground_assets/close17-6obe-200h.png"
      class="i-phone141-close"
    />
    <img
      alt="Ok18"
      src="/assets/playground_assets/ok18-w63-200h.png"
      class="i-phone141-ok"
    />
    <img
      alt="UploadtotheCloud19"
      src="/assets/playground_assets/uploadtothecloud19-ynxs-200h.png"
      class="i-phone141-uploadtothe-cloud"
    />
    <img
      alt="Home110"
      src="/assets/playground_assets/home110-72xg-200h.png"
      class="i-phone141-home"
    />
  </div>
</div>
