:host { 
  display: contents; 
}
.i-phone141-container {
  min-height: 100vh;
}
.i-phone141-i-phone141 {
  width: 100%;
  height: 844px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.i-phone141-plus {
  top: 304px;
  left: 88px;
  width: 90px;
  height: 90px;
  position: absolute;
  border-color: transparent;
}
.i-phone141-downloadfromthe-cloud {
  top: 304px;
  left: 198px;
  width: 90px;
  height: 90px;
  position: absolute;
  border-color: transparent;
}
.i-phone141-edit {
  top: 304px;
  left: 308px;
  width: 90px;
  height: 90px;
  position: absolute;
  border-color: transparent;
}
.i-phone141-close {
  top: 666px;
  left: 263px;
  width: 90px;
  height: 90px;
  position: absolute;
  border-color: transparent;
}
.i-phone141-ok {
  top: 530px;
  left: 243px;
  width: 90px;
  height: 90px;
  position: absolute;
  border-color: transparent;
}
.i-phone141-uploadtothe-cloud {
  top: 634px;
  left: 108px;
  width: 90px;
  height: 90px;
  position: absolute;
  border-color: transparent;
}
.i-phone141-home {
  top: 498px;
  left: 43px;
  width: 90px;
  height: 90px;
  position: absolute;
  border-color: transparent;
}
