@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'bootstrap/dist/css/bootstrap.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  margin-top: 1.5rem;
}

.btn:disabled {
  cursor: default;
}

/* body {
  background-color: #c5e1e2;
} */

form {
  margin: 5rem;
}

input {
  margin-top: 1rem;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

textarea {
  height: 100px !important;
}
